
.navbar-brand {

    font-family: 'Orbitron', sans-serif; 
    font-size: 30px;
    color: rgb(122, 170, 231);
    margin-right: 70px;
    user-select: none;
    

}


.logo {

margin-right: 30px;
width: 85px

}

.nav-item {

font-family: 'Orbitron', sans-serif;
color: black;
font-size: 0.9rem;
text-transform: uppercase;


}

.nav-item:hover {

    background-color: rgb(122, 170, 231);
    border-radius: 5px;
}


