h5 {

    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    
    
}


tr {

    font-family: 'Orbitron', sans-serif;
    color: rgb(233, 159, 22);
    text-align: center;
}

td {

    color: rgb(119, 117, 112);
    text-align: center;

}

