
<h5 class="mt-5 mb-5 text-secondary">Produtos</h5>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th scope="col">Nome do Produto</th>
      <th scope="col">Preço</th>
      <th scope="col">Categoria</th>
      <th scope="col">Quantidade</th>
    </tr>
  </thead>

<tbody>
  <tr *ngFor="let produto of produtos">
    
    <td>{{ produto.nomeProduto }}</td>
    <td>{{ produto.preco }}</td>
    <td>{{ produto.categoria }}</td>
    <td>{{ produto.quantidade }}</td>
    
