h5 {

  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;


}


tr {

  font-family: 'Orbitron', sans-serif;
  color: rgb(233, 159, 22)
}

label {

  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;

}
