
<h5 class="mt-5 mb-5 text-secondary">Cadastrar Produtos</h5>

<form [formGroup]="produtoForm" (submit)="enviarProduto()">


    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome"
        formControlName="nome">
    </div>


      <div class="form-group">
        <label for="codigoBarras">Código de Barras</label>
        <input type="text" class="form-control" id="codigoBarras"
          formControlName="codigoBarras">
      </div>

      
      <div class="form-group">
        <label for="preco">Preço</label>
        <input type="number" class="form-control" id="preco"
          formControlName="preco">
      </div>
    
      <button class="btn btn-primary mr-2 mt-3" type="submit" [disabled]="produtoForm.invalid">Enviar</button>
      <button class="btn btn-danger mt-3" routerLink="/produtos">Voltar</button>
      
      
    
  </form>